services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: merge
      POSTGRES_DATABASE: merge
      POSTGRES_PASSWORD: example
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
